<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="/admin/users/create">Crear Nuevo Usuario</a>
    <ul>
        {{#each users}}
        <li>
            {{this.username_user}} - {{this.type}}
            <a href="/admin/users/{{this.id}}/edit">Editar</a>
            <a href="/admin/users/{{this.id}}/delete">Eliminar</a>
        </li>
        {{/each}}
    </ul>
</body>
</html>
